<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/logo/InvenTack.png" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        />
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/header.css" />
        <link rel="stylesheet" href="/new.css" />
        <title>InvenTrack</title>
    </head>
    <body>
        <%- include ('partials/header') %>
        <form action="<%= path %>" method="post">
            <h2><%= title %></h2>
            <div class="category-name">
                <label for="name">Category Name:</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    placeholder="e.g Electronics"
                    value="<%= locals.name? name : '' %>"
                />
                <%- include("partials/formError.ejs", {errors: locals.errors ||
                [], fieldName: "name"}) %>
            </div>
            <div class="category-description">
                <label for="description">Description:</label>
                <textarea
                    id="description"
                    name="description"
                    rows="4"
                    required
                    placeholder="Enter category description..."
                >
<%= locals.description ? description.trim() : '' %></textarea
                >
                <%- include("partials/formError.ejs", {errors: locals.errors ||
                [], fieldName: "description"}) %>
            </div>
            <button type="submit"><%= btnText %></button>
        </form>
    </body>
</html>
